body,form
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-size:12px;
	line-height: 130%;
	font-family: "±¼¸²","Arial";
	color: #747474;
}

a:link {color:#747474;text-decoration:none;}
a:visited {color:#747474;text-decoration:none;}
a:active {color:#1884cb;text-decoration:none;}
a:hover {color:#1884cb;text-decoration:none;}

.fontBold4
{
	font-weight:bold;
	color:#4b4b4b;
}
.fontcolor4
{
	color:#4b4b4b;
}
.smallfont
{
	font-size:11px;
	font-family: "µ¸¿ò","Tahoma";
	line-height: 130%;
	color:#8a8a8a;
}

